.ingame {
    border: 5px solid #ecc30c;
    box-shadow: 0 0 15px #ecc30c, inset 0 0 30px #ecc30c;
    border-radius: 10px;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 90%;
    margin: 0 auto;

    min-height: 500px;

}

.but {
    margin-left: 10px;
}

.but:active, .but:focus {
    outline: none;
}

.block {

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.words {

    font-style: normal;
    color: #ecc30c;
    text-align: center;
    display: inline;
    font-family: RobotoMono, sans-serif;


}

@media (max-width: 800px) {
    /* это будет показано при разрешении монитора до 930 пикселей */
    .discussion {
        width: 88%;
        height:94%;
        right: 4%;
        top: 2%}

}