textarea{
    border: 2px solid #E5E5E5;
    resize: none;
    width: 80%;
    height: 100px;
    border-radius: 20px;
    background-color: #120033;
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 90px;

}
textarea:focus, textarea:active {
    outline: none;
}