.inp{
    border: 2px solid #E5E5E5;
    box-shadow: 0 0 1px #E5E5E5, inset 0 0 1px #E5E5E5;
    resize: none;
    width: 80%;
    position: absolute;
    border-radius: 20px;
    background-color:transparent;
    color: white;
    text-align: center;
    font-size: 1.8em;
    min-height: 50px;
    height: 70%;
    right: 10%;
    font-family: RobotoMono,sans-serif;


}
.inp:focus, .inp:active {
    outline: none;
}
.inp::placeholder{
    color: white;


}