body {
   /* background: url(back.png) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;*/
    background-color: #120033;
    color: #E5E5E5;
    font-family: RobotoMono, serif;
}
@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;}
